//icon

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

//btn
.actionBtn {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 18px 50px 18px 32px;
    border: 1px solid #fff;
}

//check
// .check{
//   &::after{
//     content: "";
//     position: absolute;
//     border-style: solid;
//     border-width: 0 0 1px 1px;
//     height: 7px;
//     width: 10px;
//     top: 12px;
//     right: 45px;
//     color: #020202;
//     transform: rotate(315deg);
// }
// }

//q&a accordion
.qanda{
    margin-top: 160px;
    .qanda-title{
        font-size: 32px;
    }
    .collapse-items{
        width: 70%;
    }
}

.collapse-item:hover , .collapse-item .collapse-header.active {
       
        color: #837f7f;
        border: 1px solid #837f7f;
        border-radius: 16px;
}
.collapse-item{
    background-color: #000000;
    color: #fff;
    border-radius: 16px;
    font-size: 20px;
    margin-bottom: 16px;
    padding: 16px 64px;
    .collapse-title {
      border: none;
      padding: 16px 64px;
      width: 100%;
      text-align: left;
      cursor: pointer;
      position: relative;
    }
    .collapse-content{
  
          display: none;
          padding: 15px 60px;
          text-align: start;
          color: #fff;
      
      
      }
  
}
.icon-add {
  display: block;
}

.icon-remove {
  display: none;
}

.collapse-content.open {
    display: block!important;  }
  
  