.mr-20{
    margin-right: 20px;
}
.header{
    padding-top: 80px;
    border-bottom: 1px solid $primary-text-color;
    margin-bottom: 40px;
    .logo{
        width: 188.99px;
    height: 40px;
    }
    .navbar{
        position: relative;
        .navbar-btn{
            color: #ffffff;
            background-color: transparent;
            border: 0;
            display: none;
            @include mobile{
                display: block;
            }
        }
        .navbar-menu{
            display: flex;
            justify-content: space-between;
            @include mobile{
                display: none;
            }
       
        } 
        .navbar-collapse{
            display: none;//電腦版不顯示
            position: absolute;
            top: 100%;
            width: 100%;
            min-height: calc(50vh - 81px);
            background-color: #000000;
            border-top: 1px solid #ffffff;
            a{
                font-size: 80px;
                line-height: 1.2;
                margin: 4px 0;
             
            }
            
        }   
    }

    .navbar-collapse.show{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }}
       



//footer
.footer{
    .container{
        align-items: flex-start;
    }
    color:$primary-text-color;
    padding-bottom: 32px;
    .social {
        width: 50%;
        @include pad{
            flex-direction: column;
        }
        @include mobile{
            flex-direction: column;
        }
        p{
            margin-bottom: 3rem;
        }
        li{
            padding-right: 20px;
        }
    }
}
.footer{
    .toTop{
        background-color:#000000;
        color: $primary-text-color;
        border: none;
        margin-right: 36px;
        @include mobile{
            height: 30px;
        }
        .toTopIcon{
            position: absolute;
            right: -37px;
        }
    }
}